@media only screen and (max-width: 600px) {
    html  { 
        font-size:5px !important;
    } 
    .header-content { 
       width: 100%;
    }
    .header-box img { 
        width: 10px;
    }
    .header-img { 
        width: 141px;
        height: 171px;
        
    }
    .main-text-center { 
        min-width: 225px;
        
        
  }
  .lala { 
    display: flex;
    flex-direction: column;
  }
  .header-imgbox { 
    width: 100% !important;
    display: flex;
    justify-content: right;
  } 
   h1 { 
    width: 37px;
   }
 
}